body{
	font-family: Helvetica;
	font-size: 1em;
}
a{
	text-decoration: none;
}
a:hover{
	opacity: 0.7;
}
h1{
	font-size: 4em;
	font-family: Georgia;
}

#page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#header{
	margin-bottom: 3vh;
	text-align: center;
}
#main{
	font-size: 1.1em;
	margin-bottom: 3vh;
}

#page2{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: Georgia;
}

#header2{
	margin-bottom: 5vh;
}

#description{
	margin-left: 10vw;
	margin-right: 10vw;
	font-size: 1.5em;
	line-height: 1.4em;
}
#description i{
	font-style: italic;
}

#list{
	margin-left: 23vw;
	margin-right: 17vw;
	font-size: 1.5em;
	line-height: 1.4em;
}

#list li{
	float: left;
	width: 50%;
	display: inline-block;
	margin-top: .5em;
}

#description b{
	font-weight: bold;
}

#description p{
	margin-bottom: 1.5vh;
}

#buttonBox{
	margin-top: 7.5vh;
}

.clickable{
	background: #1d7 !important;
	cursor: pointer !important;
}

#toResults{
	appearance: none;
	border: none;
	font-size: 1.5em;
	line-height: 2em;
	padding: .3em 1em;
	border-radius: .25em;
	border: 1px solid #ccc;
	/*background: #1d7;*/
	background: #e4e4e4;
	color: #fff;
}

#toResults:hover{
	background: #0ECF6F !important;
}

#toResults{
	display: none;
}

#buttonBox{
	height: 10vh;
	display: flex;
}

#page3{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: Georgia;
}

#header3{
	margin-bottom: 5vh;
}

#results table{
	margin-left: -7.5vw;
}


#results th{
	font-size: 1.9em;
	font-weight: bold;
	width: 7em;
	line-height: 2.5em;
	text-align: center;
}

th.heading{
	/*: px solid #666;*/
}

#results td{
	font-size: 1.75em;
	text-align: center;
	line-height: 2.25em;
	border: .2em solid #fff;
}

#results td.description{
	text-align: right;
	padding-right: .8em;
	font-style: italic;
}
#info{
	font-style: italic;
	font-size: 1.3em;
	color: #333;
	margin-top: 3vh;
}
#switch{
	font-style: normal;
	font-size: 1.3em;
	color: #333;
	margin-top: 3vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#switch>span{
	margin-left: .4em;
}

#routes{
	border-top: 2px dotted #19d;
	padding-top: 2vh;
}

.route{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}

.route:nth-last-of-type(2){
	padding-bottom: 2vh;
	border-bottom: 2px dotted #19d;
	margin-bottom: 3vh;
}

.route:first-of-type .inputGroup:last-of-type{
	visibility: hidden;
}

.best{
	color: #000;
	background: #7f9;
}
.worst{
	color: #000;
	background: #f88;
}
.average{
	color: #000;
	background: #eee;
}

.more{
	color: #1d7;
	background: #f3f3f3;
}
.equal{
	color: #333;
	background: #f3f3f3;
}
.less{
	color: #d11;
	background: #f3f3f3;
}
.car{
	font-weight: normal;
	background: #ccc;
}
/*.pt, .bike{
	font-weight: bold;
}*/

.placeContainer{
	display: inline-block;
	width: 16em;
	margin-right: 1em;
}

.symbol{
	font-style: normal;
}

.destinationContainer{
	margin-right: .8em;
}

#error{
	text-align: center;
	color: #f60;
	font-size: 1.3em;
	font-family: Georgia;
	margin-top: 1.5vh;
	display: inline-block;
	line-height: 2em;
}

#intro{
	text-align: center;
	font-family: Georgia;
	font-size: 1.4em;
	display: inline-block;
	line-height: 1.5em;
	width: 80vw;
	margin-top: 2.5vh;
}

.text{
	width: inherit;
	font-size: 1.1em;
	padding: .35em .3em;
	border-radius: .15em;
	border: 1px solid #266;
	color: #19d;
}

.button{
	appearance: none;
	border: none;
	font-size: 1.1em;
	padding: .3em 1em;
	border-radius: .15em;
	border: 1px solid #266;
	background: #19d;
	cursor: pointer;
	color: #fff;
}

#addRoute{
	background: #1d7;
}

#los{
	background: #19d;
}

.time{
	width: 3em;
	padding-bottom: .35em;
	text-align: center;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.timeGroup{
	display: flex;
	flex-direction: row;
}

.inputGroup{
	margin: 0 .3em;
}

/* weekday switch */

.days{
	background: #157;
	color: #fff;
	border-radius: .15em;
	font-size: 1.1em;
	line-height: 1.91em;
}

.days input {
	display: none!important;
}
.days input{
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.days input[type=checkbox] + label {
	display: inline-block;
	width: 2em;
	margin-right: -.3em;
	text-align: center;
	cursor: pointer;
	border-right: 1px solid #ccc;
	padding-top: .1em;
}

.days input[type=checkbox]:last-of-type + label{
	margin-right: 0;
	border: none;
	border-bottom-right-radius: .15em;
	border-top-right-radius: .15em;
}
.days input[type=checkbox]:first-of-type + label{
	border-bottom-left-radius: .15em;
	border-top-left-radius: .15em;
}

.days input[type=checkbox]:checked + label {
  background: #19d;
}







.timeDir{
	background: #157;
	color: #fff;
	border-top-left-radius: .15em;
	border-bottom-left-radius: .15em;
	font-size: 1.1em;
	line-height: 1.91em;
}

.timeDir input {
	display: none!important;
}
.timeDir input{
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.timeDir input[type=radio] + label {
	display: inline-block;
	width: 2em;
	margin-right: -.25em;
	text-align: center;
	cursor: pointer;
	border-right: 1px solid #ccc;
	padding-top: .1em;
}

.timeDir input[type=radio]:last-of-type + label{
	border: none;
	margin-right: 0;
}
.timeDir input[type=radio]:first-of-type + label{
	border-bottom-left-radius: .15em;
	border-top-left-radius: .15em;
}

.timeDir input[type=radio]:checked + label {
  background: #19d;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 0px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(17, 221, 119, 0.2);
  border-right: 1.1em solid rgba(17, 221, 119, 0.2);
  border-bottom: 1.1em solid rgba(17, 221, 119, 0.2);
  border-left: 1.1em solid #1d7;
  -webkit-transform: translateZ(0) scale(0.6);
  -ms-transform: translateZ(0) scale(0.6);
  transform: translateZ(0) scale(0.6);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg) scale(0.6);
    transform: rotate(0deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.6);
    transform: rotate(360deg) scale(0.6);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg) scale(0.6);
    transform: rotate(0deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.6);
    transform: rotate(360deg) scale(0.6);
  }
}

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #1d7;
}

input:focus + .slider {
 box-shadow: 0 0 1px #1d7;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}
