.sey-list{
    visibility: hidden;
}
.sey-show{
    visibility: visible;
}

.sey-hide{
    display: none;
}

.sey-list{
    width: 15.25em;
    position: absolute;
    box-sizing: border-box;
    background: rgba(245, 245, 245, 0.9);
    list-style: none;
    text-align: left;
    color: #19d;
    overflow: auto;
    padding: 0;
    cursor: default;
    border: 1px solid rgba(0,70,70,0.8);
    margin-top: -2px;
    font-size: 1.1em;
}

.sey-item{
    padding: 7.5px;
    white-space: nowrap;
    overflow: hidden;
}

.sey-selected{
    background: rgba(210,210,210,0.9);
}
