body{
	font-family: Helvetica;
	font-size: 1em;
}
a{
	text-decoration: none;
}
a:hover{
	opacity: 0.7;
}
h1{
	font-size: 4em;
	font-family: Georgia;
}

#page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#header{
	margin-bottom: 3vh;
	text-align: center;
}
#main{
	font-size: 1.1em;
	margin-bottom: 10vh;
}

#page2{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: Georgia;
}

#header2{
	margin-bottom: 5vh;
}

#results table{
	margin-left: -7.5vw;
}


#results th{
	font-size: 1.9em;
	font-weight: bold;
	width: 7em;
	line-height: 2.5em;
	text-align: center;
}

th.heading{
	/*: px solid #666;*/
}

#results td{
	font-size: 1.75em;
	text-align: center;
	line-height: 2.25em;
	border: .2em solid #fff;
}

#results td.description{
	text-align: right;
	padding-right: .8em;
	font-style: italic;
}
.route{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.best{
	color: #000;
	background: #7f9;
}
.worst{
	color: #000;
	background: #f88;
}
.average{
	color: #000;
	background: #eee;
}

.placeContainer{
	display: inline-block;
	width: 16em;
	margin-right: 1em;
}

.symbol{
	font-style: normal;
}

#destinationContainer{
	margin-right: .8em;
}

#error{
	text-align: center;
	color: #f60;
	font-size: 1.2em;
	line-height: 3em;
}

.text{
	width: inherit;
	font-size: 1.1em;
	padding: .35em .3em;
	border-radius: .15em;
	border: 1px solid #266;
	color: #19d;
}

#los{
	appearance: none;
	border: none;
	font-size: 1.1em;
	padding: .3em 1em;
	border-radius: .15em;
	border: 1px solid #266;
	background: #19d;
	cursor: pointer;
	color: #fff;
}

.time{
	width: 3em;
	padding-bottom: .35em;
	text-align: center;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.timeGroup{
	display: flex;
	flex-direction: row;
}

.inputGroup{
	margin: 0 .3em;
}

/* weekday switch */

.days{
	background: #157;
	color: #fff;
	border-radius: .15em;
	font-size: 1.1em;
	line-height: 1.91em;
}

.days input {
	display: none!important;
}
.days input{
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.days input[type=checkbox] + label {
	display: inline-block;
	width: 2em;
	margin-right: -.3em;
	text-align: center;
	cursor: pointer;
	border-right: 1px solid #ccc;
	padding-top: .1em;
}

.days input[type=checkbox]:last-of-type + label{
	margin-right: 0;
	border: none;
	border-bottom-right-radius: .15em;
	border-top-right-radius: .15em;
}
.days input[type=checkbox]:first-of-type + label{
	border-bottom-left-radius: .15em;
	border-top-left-radius: .15em;
}

.days input[type=checkbox]:checked + label {
  background: #19d;
}







.timeDir{
	background: #157;
	color: #fff;
	border-top-left-radius: .15em;
	border-bottom-left-radius: .15em;
	font-size: 1.1em;
	line-height: 1.91em;
}

.timeDir input {
	display: none!important;
}
.timeDir input{
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.timeDir input[type=radio] + label {
	display: inline-block;
	width: 2em;
	margin-right: -.25em;
	text-align: center;
	cursor: pointer;
	border-right: 1px solid #ccc;
	padding-top: .1em;
}

.timeDir input[type=radio]:last-of-type + label{
	border: none;
	margin-right: 0;
}
.timeDir input[type=radio]:first-of-type + label{
	border-bottom-left-radius: .15em;
	border-top-left-radius: .15em;
}

.timeDir input[type=radio]:checked + label {
  background: #19d;
}
